#gif1{
    float: left;
    height: 600px;
    width: 30%;
}
.banner{
    float: right;
    width: 69%;
    height: 600px;
    border: 3px solid black;
   
    
    background-size: 100% 100%;
    
    display: flex;
    
    animation: banner 25s infinite alternate linear;

}
@keyframes banner{
    0%, 15%{
        background-image: url(../Imagenes/1.jpeg)
    }
    20%, 35%{
        background-image: url(../Imagenes/2.jpeg);
    }
    40%, 55%{
        background-image: url(../Imagenes/3.jpeg)
             }
    60%, 75%{
        background-image: url(../Imagenes/4.jpeg);
    }
    80%, 100%{
        background-image: url(../Imagenes/5.jpeg)
    }
}
html{
    background-color: white;
}